@import '../../fms/css/custom-color.css';

:root {
	--saraga-color: rgb(9, 58, 102);
	--merchants-color: #027bfe;
	--merchants-color-darker: #002a57;
	--alpha: 0.5;
	--height-navbar-top: 56px;
	--height-navbar-top-addons: 88px;
	--height-navbar-bottom: 70px;
	--color-a: #00359e;
	--color-button: #2970ff;
}

.h-max {
	height: max-content;
}

.h-min {
	height: min-content;
}

.mh-100 {
	min-height: 100%;
}

#bottom-main_navbar {
	height: var(--height-navbar-bottom);
}

main#contents>.navbar.sticky-top:not(.has-addons) {
	height: var(--height-navbar-top);
}

main#contents>.navbar.sticky-top.has-addons {
	height: var(--height-navbar-top-addons);
}

main#contents>.navbar.sticky-top+section,
.fullscreen {
	height: calc(100dvh - 56px);
	overflow-y: auto;
	overflow-x: hidden;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	padding-bottom: 0;
}

.fullscreen-min {
	min-height: 100dvh;
	height: 1px;
	overflow-y: auto;
}

.fullscreen-min>div:not(.row) {
	height: 100%;
	overflow-y: auto;
}

.fullscreen-max {
	max-height: 100dvh;
	height: 1px;
	overflow-x: hidden;
	overflow-y: auto;
}
main#contents>.navbar.sticky-top+section {
	scrollbar-gutter: stable both-edges;
}
main#contents:not(.without-bottom_menu)>.navbar.sticky-top+section,
.navbar.sticky-top+section.fullscreen,
.navbar.sticky-top+section .fullscreen {
	height: calc(100dvh - 127.5px) !important;
	padding-bottom: 0 !important;
}

main#contents:not(.without-bottom_menu)>.navbar.sticky-top.has-addons+section,
.navbar.sticky-top.has-addons+section.fullscreen,
.navbar.sticky-top.has-addons+section .fullscreen {
	height: calc(100dvh - 160px) !important;
	padding-bottom: 1rem;
}

main#contents.without-bottom_menu>.navbar.sticky-top+section {
	height: calc(100dvh - 56px) !important;
	padding-bottom: 0 !important;
}

main#contents.without-bottom_menu>.navbar.sticky-top.has-addons+section {
	height: calc(100dvh - 88px) !important;
	padding-bottom: 1rem;
}

main#contents>section>div:first-child,
.navbar.sticky-top+section.fullscreen>div:first-child,
.navbar.sticky-top.has-addons+section.fullscreen>div:first-child {
	flex: 1 1 100%;
}
main#contents >.navbar.sticky-top+section > .container {
	flex: 1;
}
.navbar.sticky-top+section .fullscreen-min {
	min-height: calc(100vh - 56px - 75px) !important;
	padding-bottom: 1rem;
}

.navbar.sticky-top.has-addons+section .fullscreen-min {
	min-height: calc(100dvh - 91.5px) !important;
	padding-bottom: 1rem;
}

.navbar.sticky-top+section .fullscreen-max {
	max-height: calc(100dvh - 56px) !important;
	padding-bottom: 1rem;
}

.navbar.sticky-top.has-addons+section .fullscreen-max {
	max-height: calc(100dvh - 91.5px) !important;
	padding-bottom: 1rem;
}

.navbar.fixed-bottom~section .fullscreen,
.navbar.fixed-bottom~section .fullscreen-min,
.navbar.fixed-bottom~section .fullscreen-max {
	padding-bottom: calc(1rem + 71.5px) !important;
}

nav.navbar.fixed-bottom {
	box-shadow: 0 7.5px 20px 0px rgba(0, 0, 0, 0.75);
}

@media (max-width: 767px) {

	.navbar.sticky-top+section .fullscreen-min,
	.navbar.sticky-top.has-addons+section .fullscreen-min {
		min-height: calc(100vh - 56px - 71.5px) !important;
		padding-bottom: 1rem;
	}

	.navbar.sticky-top+section .fullscreen-max,
	.navbar.sticky-top.has-addons+section .fullscreen-max {
		max-height: calc(100vh - 56px - 71.5px) !important;
		padding-bottom: 1rem;
	}
}

.has-float-label .form-control:placeholder-shown:not(:focus)+* {
	font-size: 0.8rem;
	opacity: 1;
	top: -0.5em;
}

::-webkit-input-placeholder {
	color: rgb(216, 216, 216) !important;
	opacity: 1 !important;
}

:-moz-placeholder {
	/* Firefox 18- */
	color: rgb(216, 216, 216) !important;
	opacity: 1 !important;
}

::-moz-placeholder {
	/* Firefox 19+ */
	color: rgb(216, 216, 216) !important;
	opacity: 1 !important;
}

.goog-te-banner-frame.skiptranslate {
	display: none !important;
}

body {
	top: 0px !important;
}

.img-message {
	color: var(--saraga-color);
	font-size: 0.9rem;
}

.navigation .navbot a {
	padding: 8px 0;
}

@media screen and (min-width: 1024px) {
	#error .container {
		max-width: 550px !important;
	}
}

.banner-element {
	position: relative;
	left: 0;
	top: 0;
	width: 100%;
	padding: 0.15em;
	font-size: 0.75rem;
	background-color: rgba(255, 255, 255, 0.65);
	text-align: center;
	text-transform: uppercase;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
	border-top-left-radius: 0.2rem;
	border-top-right-radius: 0.2rem;
}

.banner-element-info {
	background-color: rgb(9, 58, 102);
	color: white;
}

.banner-element-promo {
	background-color: rgb(208, 167, 101);
	color: white;
}

.col-xs-5ths {
	width: 20%;
	float: left;
	padding-top: -15px;
	padding-bottom: -15px;
}

a {
	color: rgba(17.6, 45.9, 74.1, 1);
}

nav a {
	color: rgba(0, 0, 0, 0.5);
	font-size: 13px;
}

nav i {
	padding-bottom: 4px;
}

.hero-area .advance-search .form-control {
	border-radius: 0.5rem;
	border-color: var(--saraga-color) !important;
}

.form-control[readonly] {
	/* border-color: rgb(9, 58, 102) !important; */
	background-color: transparent !important;
}

.has-float-label {
	margin-bottom: 25px;
}

.has-float-label span {
	font-size: 0.8rem;
	/*font-weight: bold;*/
	color: var(--saraga-color);
}

.has-float-label .form-control {
	font-size: 0.9rem;
}

.text-saraga {
	color: var(--saraga-color) !important;
}

.text-sm {
	font-size: min(.75rem,100%);
}

.background-saraga {
	background-color: var(--saraga-color);
	color: white;
}

.button-saraga {
	/*background-color: rgb(189, 158, 95);*/
	border-radius: 5rem;
	color: white;
	background-image: linear-gradient(to right,
			rgb(184, 149, 90),
			rgb(202, 187, 113));
	border-style: none;
}

.btn.btn-flex {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.btn-merchants {
	color: #fff;
	background-color: var(--merchants-color);
	border-color: var(--merchants-color);
}

.btn-merchants:disabled,
.btn-merchants.disabled,
.btn-light-blue:disabled,
.btn-light-blue.disabled {
	cursor: default;
	color: rgb(93, 93, 93) !important;
	background-color: rgb(209, 209, 209) !important;
	border-color: rgb(209, 209, 209) !important;
}

.btn-white {
	color: #000;
	background: #fff;
	border-color: #fff;
}

.btn-merchants:hover:not(:disabled):not(.disabled),
.btn-merchants:focus:not(:disabled):not(.disabled) {
	color: #fff !important;
	background-color: var(--merchants-color-darker);
	border-color: var(--merchants-color-darker);
}

.btn-merchants2 {
	color: #fff;
	background-color: var(--color-button);
	border-color: var(--color-button);
}

.btn-merchants2:hover,
.btn-merchants2:focus {
	color: #fff;
	background-color: var(--color-a);
	border-color: var(--color-a);
	font-weight: bold;
}

.btn-alternate:hover {
	background: rgb(0 123 255 / 25%);
	color: var(--color-a);
	font-weight: bold;
	border-color: var(--color-a);
}

.btn-outline-merchants {
	color: var(--merchants-color);
	border-color: var(--merchants-color);
}

.btn-outline-merchants:hover {
	color: #fff;
	background-color: var(--merchants-color);
}

.btn-outline-saraga {
	border-radius: 8px !important;
	border-color: rgb(184, 149, 90);
	color: rgb(184, 149, 90);
	/* background-image: linear-gradient(to right, rgb(184, 149, 90), rgb(202, 187, 113)); */
	/* border-style: none; */
}

.btn-outline-saraga:hover {
	/* border-radius: 5rem; */
	color: white;
	background-image: linear-gradient(to right,
			rgb(184, 149, 90),
			rgb(202, 187, 113));
	/* border-style: none; */
}

.button-call {
	display: flex;
	padding: 10px;
	text-decoration: none;
	font-weight: 600;
	border-radius: 5rem;
	height: 40px;
	width: 100%;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

.button-call * {
	line-height: 0;
}

.muted-saraga {
	color: rgb(176, 176, 176);
	font-size: 0.85rem;
}

.has-line {
	overflow: hidden;
	text-align: center;
}

.has-line:before,
.has-line:after {
	background-color: rgb(176, 176, 176);
	content: "";
	display: inline-block;
	height: 1px;
	position: relative;
	vertical-align: middle;
	width: 50%;
}

.has-line:before {
	right: 0.5em;
	margin-left: -50%;
}

.has-line:after {
	left: 0.5em;
	margin-right: -50%;
}

.card-img-top {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

h5 {
	font-size: 1rem;
}

.card-title {
	/* font-weight: bold; */
	font-size: 1.1rem;
}

.navbar-brand {
	margin-right: 0.5rem;
}

.nav-item b {
	font-size: 1.1rem;
}

.nav-link b {
	font-size: 1.1rem;
}

.close-icon {
	width: 14px;
	height: 14px;
}

.back-icon {
	width: 25px;
	height: 25px;
	/* border: 1px solid white;  */
	padding: 3;
	border-radius: 0.3rem;
}

.share-icon {
	width: 20px;
	height: 20px;
}

.back-icon-black {
	/* border: 1px solid black; */
}

.icon,
.icon-cat {
	width: 40px;
	height: 40px;
}

.rating-button {
	cursor: hand;
	text-align: center;
	width: 18% !important;
	padding: 5px;
	padding-top: 7px;
	margin-right: 2.5%;
	height: 37px;
	/*background-color: var(--saraga-color);*/
}

.rating-button.active {
	background: var(--saraga-color);
	color: white;
}

.rating-button img {
	margin-bottom: 5px;
	width: 15px;
	height: 15px;
}

hr {
	border-top: 1px solid #d8d8d8;
}

.login-logo {
	width: 150px;
}

/* SM */
@media (min-height: 655px) and (max-width: 800px) {
	.login-logo {
		width: 200px;
	}

	/* .navbar.sticky-top+section .fullscreen {
        height: 100% !important;
        padding-bottom: 1rem;
    } */

	/* .navbar.sticky-top.has-addons+section .fullscreen {
        height: 100% !important;
        padding-bottom: 1rem;
    } */
}

/* MD */
@media (min-height: 801px) {
	.login-logo {
		width: 230px;
	}
}

.has-float-label small.error {
	top: 50px;
	right: 0;
	text-align: right;
	left: auto;
	margin: 0;
	color: #dc3545;
}

.modal:not(.transparent) {
	background: rgba(200, 200, 200, 1);
}

.modal-verifyotp {
	background: rgba(0, 0, 0, 0.75);
}

.modal-actions {
	background: transparent;
}

.modal:not(.modal-verifyotp):not(.modal-actions).modal-bottom .modal-dialog {
	height: 100% !important;
}

.modal:not(.modal-verifyotp).modal-bottom .modal-dialog form {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: space-between;
}

/* .section {
    padding: 1.5rem 0;
    margin-top: 1.5rem;
}
.section.footer {
    padding-bottom: 1.5rem !important;
} */
/* ELEMENT MODAL SEARCH INPUT */
.modal#searchModal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	padding: 0 !important;
}

.modal#searchModal .modal-dialog {
	margin: auto;
	width: auto;
	height: 100%;
	padding: 0;
	max-width: 100%;
}

.modal#searchModal .modal-content {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border: 0;
	border-radius: 0;
	box-shadow: none;
}

.modal#searchModal .modal-header {
	border-radius: 0 !important;
}

.modal#searchModal .modal-content .lead {
	font-size: 1rem;
}

.modal#searchModal .modal-content .widget {
	margin-bottom: 5px;
	padding: 15px 20px 15px;
}

.modal#searchModal .modal-content .widget-header {
	padding-bottom: 0 !important;
}

.modal#searchModal .modal-content .icon {
	padding-bottom: 5px;
}

.jssocials-shares {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.jssocials-share {
	flex: 1 1 10%;
	align-self: center;
}

.jssocials-share-link {
	width: 100%;
}

#google_translate_element {
	display: flex;
	position: absolute;
	opacity: 0;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: -10;
}

#google_translate_element .goog-te-gadget {
	width: 100%;
}

#google_translate_element .goog-te-gadget div[id*="targetLanguage"] {
	width: 100%;
	height: 100%;
}

#google_translate_element .goog-te-gadget .goog-te-combo {
	width: 100%;
	height: 100%;
}

.goog-te-menu-frame {
	max-width: 100% !important;
}

.goog-te-menu2 {
	max-width: 100% !important;
	overflow: scroll !important;
	box-sizing: border-box !important;
	height: auto !important;
}

.goog-tooltip {
	display: none !important;
}

.goog-tooltip:hover {
	display: none !important;
}

.goog-text-highlight {
	background-color: transparent !important;
	border: none !important;
	box-shadow: none !important;
}

.skiptranslate {
	display: none !important;
}

#goog-gt-tt {
	display: none !important;
	top: 0px !important;
}

.goog-tooltip skiptranslate {
	display: none !important;
	top: 0px !important;
}

.activity-root {
	display: hide !important;
}

.status-message {
	display: hide !important;
}

.started-activity-container {
	display: hide !important;
}

.back-btn {
	display: flex !important;
	margin: 0;
	padding: 0;
	height: 40px;
	width: 32px;
	justify-content: center;
	align-items: center;
}

.alert-custom {
	position: relative;
	margin-bottom: 1rem;
	border: 1px solid transparent;
	border-radius: 0.25rem;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 100%;
	width: 100%;
	align-items: center;
	padding: 0;
	min-height: 48px;
	background-color: #fefefe;
	font-weight: 600;
}

.alert-custom i {
	display: flex;
	min-height: 48px;
	justify-content: center;
	align-items: center;
	width: 40px;
	padding: 0;
	margin: 0;
	height: 100%;
	font-size: 1.5rem;
}

.btn-outline-danger.btn:focus {
	color: #dc3545;
}

.btn-outline-danger.btn:focus:hover {
	color: #ffffff;
}

.text-inherit {
	color: inherit;
}

.btn:focus {
	color: inherit;
}

.btn-addtocart {
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	min-height: 2.5rem;
	height: 100%;
}

.additional-nav {
	gap: 10px;
}

.btn-remove {
	height: 30px;
	min-width: 30px;
	color: #dc3545;
	border-color: #dc3545;
	background-color: rgb(220 53 69 / 10%);
}

.btn-remove:hover {
	background-color: #dc3545;
	color: #fff;
}

.btn-cart {
	height: 100%;
	padding: 0.5rem !important;
	border-radius: 15px !important;
	display: flex !important;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
	color: #000 !important;
}

.btn-cart:not([data-count="0"]):not([data-count=""]):after {
	position: absolute;
	content: attr(data-count);
	width: max-content;
	height: 18px;
	background: var(--red);
	top: 2px;
	right: 0;
	border-radius: 100%;
	color: white;
	font-size: 10px;
	aspect-ratio: 1 / 1;
	line-height: 18px;
}

.btn-cart i.fa {
	font-size: 1.5rem;
	margin: 0;
	padding: 0;
}

/* .btn-cart:hover {
    background: #2c66ff;
    color: #fff;
} */

.btn-mp-cart {
	height: 100% !important;
	padding: 0.5rem !important;
	color: #fff !important;
	border-color: #fff !important;
	border-radius: 15px !important;
	display: flex !important;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
}

.btn-mp-cart i.fa {
	font-size: 1.5rem;
	margin: 0;
	padding: 0;
}

.cart-expired {
	/* color: #fff; */
	/* background: #FF8200; */
	padding: 1rem 0;
	font-weight: 400;
	font-size: clamp(11px, 3vw, 14px);
	-webkit-user-select: none;
	/* Safari */
	-ms-user-select: none;
	/* IE 10 and IE 11 */
	user-select: none;
	background-color: rgba(255, 247, 229, 1);
	display: flex;
	justify-content: space-between;
}

.scrollable-container::-webkit-scrollbar {
	display: none;
	/* Chrome, Safari, Edge */
}

.payment-timer {
	-webkit-user-select: none;
	/* Safari */
	-ms-user-select: none;
	/* IE 10 and IE 11 */
	user-select: none;
}

.expired-time span,
.expired-time .payment-timer {
	padding: 5px;
	font-weight: 500 !important;
	font-size: clamp(12px, 3vw, 14px);
	-webkit-user-select: none;
	/* Safari */
	-ms-user-select: none;
	/* IE 10 and IE 11 */
	user-select: none;
	background-color: rgba(255, 204, 0, 1);
	color: black !important;
	border-radius: 4px;
}

.floating-error {
	top: 60px;
	z-index: 1050;
}

.list-upcoming_class {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.list-upcoming_class .item-upcoming_class {
	flex: 1 0 300px;
	cursor: pointer;
}

.list-upcoming_class .item-upcoming_class:not(:last-child) {
	/* margin-right: 10px; */
}

.list-dates {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	width: 100%;
	height: 100%;
}

.list-dates.calendar {
	flex-direction: column;
}

.list-dates .item-dates {
	flex: 1;
}

.list-dates>.item-dates:not(:last-child),
.list-dates .flex-wrapper .item-dates:not(:last-child) {
	margin-right: 10px;
}

.list-dates.calendar .flex-wrapper.weeks:not(:last-child) {
	margin-bottom: 10px;
}

.carousel-banner .slick-track {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.opacity-0 {
	opacity: 0;
}

.carousel-banner:not(.slick-initialized) {
	overflow: hidden;
	opacity: 1;
	aspect-ratio: 5/3;
	content: "";
}

.async-loader::after {
	content: "Please Wait\ALoading Image";
	white-space: pre-wrap;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #e3e3e3;
	background-clip: content-box;
	z-index: 500;
}

img[data-lazy],
img[data-src] {
	opacity: 0;
}

.custom-carousels:has(img[data-lazy])::after,
.custom-carousels:has(img[data-src])::after {
	content: "Please Wait\ALoading Image";
	position: absolute;
	background: #e0e0e0;
	inset: 10px;
	z-index: 100;
	opacity: 1;
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	white-space: pre-wrap;
	text-align: center;
}

.custom-carousels:has(img[src])::after {
	content: none;
}

.slick-prev {
	left: 1rem !important;
	z-index: 1;
}

.slick-next {
	right: 1rem !important;
	z-index: 1;
}

.slick-dots {
	bottom: 1rem;
}

.custom-carousels {
	position: relative;
}

.custom-carousels .items img {
	width: 100%;
	object-fit: cover;
	aspect-ratio: 5/3;
	border-radius: 1rem;
}

.carousel-gallery .items img {
	aspect-ratio: 2/1;
}

@supports not (aspect-ratio: 4 / 3) {
	.carousel-item img {
		object-fit: cover;
		min-height: 420px;
	}

	.custom-carousels .items img {
		height: calc(100vw / 2);
	}
}

hr.bold {
	border: 2px solid #d8d8d8;
}

.cart-items {
	background-color: white;
	/* border-radius: 6px; */
	margin: 0;
	padding: 15px;
	/* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
}

.navbar #payment-times.card>p {
	color: white;
	padding: 0;
	margin: 0;
	font-size: 0.8rem;
}

.credit-card:hover {
	background-color: #f7f7f7;
	/* Gray background color */
}

.credit-card.disabled {
	background-color: #eeeeee;
	/* Gray background color for disabled cards */
}

.credit-card.disabled .credit-button:hover {
	background-color: transparent;
	/* Remove hover effect for credit buttons within disabled credit cards */
}

.credit-card.selected {
	color: #2c66ff;
	font-weight: 600;
	background: rgba(44, 102, 255, 0.1);
	border: 1px solid #2c66ff;
}

.credit-card.disabled,
.credit-card.disabled.selected {
	background-color: #eeeeee;
	/* Gray background color for disabled cards */
}

.credit-card.disabled .credit-button:hover,
.credit-card.disabled.selected .credit-button:hover {
	background-color: transparent;
	/* Remove hover effect for credit buttons within disabled credit cards */
}

.credit-button {
	cursor: pointer;
	font-size: 18px;
	display: inline-flex;
}

.credit-button input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

.credit-button .checkmark {
	position: relative;
	top: 0;
	left: 0;
	height: 35px;
	width: 35px;
	border: 2px solid rgba(0, 0, 0, 0.125);
	border-radius: 50%;
}

.credit-button input:checked~.checkmark {
	background-color: #eee;
}

.credit-button .checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

.credit-button input:checked~.checkmark:after {
	display: block;
}

.credit-button .checkmark:after {
	top: 5px;
	left: 5px;
	width: 21px;
	height: 21px;
	border-radius: 50%;
	background: rgba(9, 58, 101);
}

.navbar .time-info,
.card-footer .time-info {
	background-color: #ff8200;
	color: white;
	min-width: 24px;
	height: 24px;
	padding: 3px 2px 3px 2px;
	margin: 0;
	font-size: 14px;
	text-align: center;
	border-radius: 0.2rem;
	font-weight: bold;
}

.card-footer .time-info {
	background-color: #fff;
	color: #ff8200;
}

.bg-light-success {
	background: rgba(215, 244, 222, 1) !important;
	color: #34c759;
}

.container-timeslots {
	position: relative;
	height: max-content;
	max-width: 100%;
	min-height: 300px;
}
.container-timeslots .loading-timeslot {
	position: absolute;
	z-index: 120;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #fff;
}
.container-timeslots #field-timeslots {
	display: grid;
	grid-template-columns: repeat(4,1fr);
	grid-gap: 12px;
	max-width: 100%;
}

@media screen and (max-width: 480px) {
	#facilities .facility-icon {
		flex-basis: 25%;
		flex-grow: 0;
		flex-shrink: 1;
	}
	.container-timeslots #field-timeslots .time-button {
		aspect-ratio: 1/1 !important;
	}
}

.new_payment-time #payment-times {
	background-color: #FFF7E5;
	padding-top: 1.5rem !important;
	padding-bottom: 1.5rem !important;
}
.new_payment-time #payment-times * {
	font-size: 1rem;
}
.new_payment-time #payment-times #--label {
	color: var(--dark);
}
.new_payment-time #payment-times .timers {
	display: flex !important;
	flex-direction: row;
	gap: 7.5px;
	color: var(--dark) !important;
	align-items: center;
}
.new_payment-time #payment-times .time-info {
	background-color: #FFCC00;
	color: var(--dark) !important;
	padding: .5rem;
	height: 100%;
}
.new_payment-time .confirm-wrapper {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}
.new_payment-time .confirm-wrapper > .row {
	flex: 1 1 100%;
}
.regis-member-card {
	background-color: #EAF0FF;
	background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;
}
.checkbox-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	gap: 10px;
	margin-bottom: 1rem;
}
.checkbox-container input[type="checkbox"] {
	margin-top: 0 !important;
	margin-left: 10px !important;
	position: relative;
	flex: 0 0 max-content;
	height: 18px;
	width: 18px;
	aspect-ratio: 1/1;
}
.checkbox-container label {
	margin-bottom: 0 !important;
	flex: 1;
}