:root {
    --saraga-color: rgb(9, 58, 102);
    --alpha: 0.5;
}
.fullscreen {
    height: 100dvh;
    overflow-y: auto;
}

.fullscreen-min {
    min-height: 100dvh;
    height: 1px;
    overflow-y: auto;
}

.fullscreen-min>div:not(.row) {
    height: 100%;
}

.fullscreen-max {
    max-height: 100dvh;
    height: 1px;
    overflow-x: hidden;
    overflow-y: auto;
}

.navbar.sticky-top+section .fullscreen {
    height: calc(100dvh - 56px) !important;
    padding-bottom: 1rem;
}

.navbar.sticky-top.has-addons+section .fullscreen {
    height: calc(100dvh - 91.5px) !important;
    padding-bottom: 1rem;
}

.navbar.sticky-top+section .fullscreen-min {
    min-height: calc(100dvh - 56px) !important;
    padding-bottom: 1rem;
}

.navbar.sticky-top.has-addons+section .fullscreen-min {
    min-height: calc(100dvh - 91.5px) !important;
    padding-bottom: 1rem;
}

.navbar.sticky-top+section .fullscreen-max {
    max-height: calc(100dvh - 56px) !important;
    padding-bottom: 1rem;
}

.navbar.sticky-top.has-addons+section .fullscreen-max {
    max-height: calc(100dvh - 91.5px) !important;
    padding-bottom: 1rem;
}

.navbar.fixed-bottom~section .fullscreen,
.navbar.fixed-bottom~section .fullscreen-min,
.navbar.fixed-bottom~section .fullscreen-max {
    padding-bottom: calc(1rem + 71.5px) !important;
}

nav.navbar.fixed-bottom {
    box-shadow: 0 10px 100px -30px rgba(0,0,0,.75);
}
.has-float-label .form-control:placeholder-shown:not(:focus)+* {
    font-size: 0.8rem; 
    opacity: 1; 
    top: -.5em;
}
::-webkit-input-placeholder {
   color: rgb(216,216,216) !important;
   opacity: 1 !important;
}
:-moz-placeholder { /* Firefox 18- */
   color: rgb(216,216,216) !important;
   opacity: 1 !important;
}
::-moz-placeholder {  /* Firefox 19+ */
   color: rgb(216,216,216) !important;
   opacity: 1 !important;
}

.img-message {
    color: var(--saraga-color);
    font-size: 0.9rem;
}

.navigation {
    padding: 8px 0 !important;
}
.display-5 {
    font-size: 1.35rem;
}
.display-6{
    font-size: 1.55rem;
}
.banner-element {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    padding: 0.15em;
    font-size: 0.75rem;
    background-color: rgba(255, 255, 255, 0.65);
    text-align: center;
    text-transform: uppercase;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
    border-top-left-radius: 0.2rem;
    border-top-right-radius: 0.2rem;
}

.banner-element-info {
    background-color: rgb(9, 58, 102);
    color: white;
}

.banner-element-promo {
    background-color: rgb(208, 167, 101);
    color: white;
}

.col-xs-5ths {
    width: 20%;
    float: left;
    padding-top: -15px;
    padding-bottom: -15px;
}

a {
    color: rgba(17.6, 45.9, 74.1, 1);
}

nav a {
    color: rgba(0, 0, 0, 0.5);
    font-size: 13px;
}

nav i {
    padding-bottom: 4px;
}

.hero-area .advance-search .form-control {
    border-radius: 0.5rem;
    border-color: var(--saraga-color) !important;
}
.form-control[readonly]{
    border-color: rgb(9, 58, 102)!important;
    background-color: transparent !important;
}
.has-float-label {
    margin-bottom: 25px;
}

.has-float-label span {
    font-size: 0.8rem;
    /*font-weight: bold;*/
    color: var(--saraga-color);
}

.has-float-label .form-control {
    font-size: 0.9rem;
}

.text-saraga {
    color: var(--saraga-color);
}

.background-saraga {
    background-color: var(--saraga-color);
    color: white;
}
.border-saraga {
    border-color: var(--saraga-color) !important;
}
.button-saraga {
    /*background-color: rgb(189, 158, 95);*/
    border-radius: 5rem;
    color: white;
    background-image: linear-gradient(to right, rgb(184, 149, 90), rgb(202, 187, 113));
    border-style: none;
}
.btn-outline-saraga {
    border-radius: 5rem;
    border-color: rgb(184, 149, 90);
    color: rgb(184, 149, 90);
    /* background-image: linear-gradient(to right, rgb(184, 149, 90), rgb(202, 187, 113)); */
    /* border-style: none; */
}
.btn-outline-saraga:hover {
    /* border-radius: 5rem; */
    color: white;
    background-image: linear-gradient(to right, rgb(184, 149, 90), rgb(202, 187, 113));
    border-style: none;
}

.button-call {
    /*background-color: rgb(189, 158, 95);*/
    border-radius: 5rem;
    height: 40px;
}

.muted-saraga {
    color: rgb(176, 176, 176);
    font-size: 0.85rem;
}

.has-line {
    overflow: hidden;
    text-align: center;
}

.has-line:before,
.has-line:after {
    background-color: rgb(176, 176, 176);
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

.has-line:before {
    right: 0.5em;
    margin-left: -50%;
}

.has-line:after {
    left: 0.5em;
    margin-right: -50%;
}

.container {
    max-width: 550px;
}

.card-img-top {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

h5 {
    font-size: 1rem;
}

.card-title {
    /* font-weight: bold; */
    font-size: 1.1rem;
}

.navbar-brand {
    margin-right: 0.5rem;
}

.nav-item b {
    font-size: 1.1rem;
}

.nav-link b {
    font-size: 1.1rem;
}

.close-icon {
    width: 14px;
    height: 14px;
}

.back-icon {
    width: 25px;
    height: 25px;
    /* border: 1px solid white;  */
    padding: 3;
    border-radius: 0.3rem;
}

.share-icon {
    width: 20px;
    height: 20px;
}

.back-icon-black {
    /* border: 1px solid black; */
}

.icon,
.icon-cat {
    width: 40px;
    height: 40px;
}

.rating-button {
    cursor: hand;
    text-align: center;
    width: 18% !important;
    padding: 5px;
    padding-top: 7px;
    margin-right: 2.5%;
    height: 37px;
    /*background-color: var(--saraga-color);*/
}

.rating-button.active {
    background: var(--saraga-color);
    color: white;
}

.rating-button img {
    margin-bottom: 5px;
    width: 15px;
    height: 15px;
}

hr {
    border-top: 1px solid #d8d8d8;
}

.login-logo {
    width: 150px;
}

/* SM */
@media (min-height:655px) and (max-width:800px) {
    .login-logo {
        width: 150px;
    }
}

/* MD */
@media (min-height:801px) {
    .login-logo {
        width: 180px;
    }
}

.has-float-label small.error {
    top: 50px;
    right: 0;
    text-align: right;
    left: auto;
    margin: 0;
    color: #dc3545;
}
.modal:not(.transparent) {
    background: rgba(200, 200, 200, 1);
}
.modal .modal-dialog {
    z-index: 1100;
}
.modal-verifyotp {
    background: rgba(0, 0, 0, .75);
}
.modal-actions {
    background: transparent;
}
.modal:not(.modal-verifyotp):not(.modal-actions).modal-bottom .modal-dialog {
    height: 100% !important;
}

.modal:not(.modal-verifyotp).modal-bottom .modal-dialog form {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}
/* .section {
    padding: 1.5rem 0;
    margin-top: 1.5rem;
}
.section.footer {
    padding-bottom: 1.5rem !important;
} */
/* ELEMENT MODAL SEARCH INPUT */
.modal#searchModal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    padding: 0 !important;
}

.modal#searchModal .modal-dialog {
    margin: auto;
    width: auto;
    height: 100%;
    padding: 0;
    max-width: 100%;
}

.modal#searchModal .modal-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 0;
    border-radius: 0;
    box-shadow: none;
}
.modal#searchModal .modal-header {
    border-radius: 0 !important;
}
.modal#searchModal .modal-content .lead {
    font-size: 1rem;
}

.modal#searchModal .modal-content .widget {
    margin-bottom: 5px;
    padding: 15px 20px 15px;
}

.modal#searchModal .modal-content .widget-header {
    padding-bottom: 0 !important;
}

.modal#searchModal .modal-content .icon {
    padding-bottom: 5px;
}
.jssocials-shares {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.jssocials-share {
    flex: 1 1 10%;
    align-self: center;
}
.jssocials-share-link{
    width: 100%;
}
.bg-button {
    border-radius: 0.2rem; 
    background-color: #003F78;
    color: white;
    padding: 0.75rem;
    margin-bottom: 0.5rem;
}
.bg-button.active {
    font-weight: bold;
    color: #fff;
    background-color: #0054a3;
}
.bg-button:hover {
    background-color: #0054a3;
    font-weight: bold;
    color: #fff;
}
.bg-button.active:hover{
    background-color: #003F78;
}
.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
.scrolling-wrapper .bg-button {
    min-width: 125px;
    margin-bottom: 0;
    margin-right: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.custom-modalss {
    background: transparent;
}
.custom-modalss > .modal-dialog {
    position: relative;
    max-width: 550px;
    margin-top: 0;
    margin-bottom: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    background: transparent;
}
.custom-modalss > .modal-dialog > .modal-content {
    position: relative;
    border-radius: 0;
    height: 100%;
}
.custom-modalss > .modal-dialog > .modal-content .modal-footer {
    position: absolute;
    bottom: 0;
}
.item-field-cards #innerelements {
    padding: 0.75em;
    position: relative;
    left: 80%;
    top: -30px;
    background-color: white;
    margin-right: auto;
    margin-bottom: auto;
    border-radius: 50%;
}
.item-field-cards .fav-button {
    color: rgb(226, 42, 42);
    font-size: 1.5rem;
}

.item-field-cards .address {
    font-size: 0.8rem;
    font-weight: 400;
    color: #666;
}
.toast_alert {
    position: fixed;
    bottom: 125px;
    right: 0;
    left: 0;
    z-index: 1050;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.toast_alert .toast_alert-content {
    display: inline-block;
    background: rgba(0,0,0,.85);
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    max-width: 550px;
}
.toast_alert .toast_alert-content.success {
    background: rgba(10, 205, 0, 0.75);
}
.toast_alert .toast_alert-content.warning {
    background: rgba(232, 89, 0, 0.75);
}
.toast_alert .toast_alert-content.danger {
    background: rgba(255, 0, 0, 0.75);
}
.toast_alert .toast_alert-content:not(:last-child){
    margin-bottom: 10px;
}
.list-timeslot {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.categories-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.categories-container a {
    margin: 0 !important;
}
@media screen and (max-width:520px) {
    .custom-modalss > .modal-dialog {
        max-width: 100%;
        width: 100%;
        margin: 0;
    }
    .custom-modalss > .modal-dialog > .modal-content {
        border: 0;
    }
    .toast_alert .toast_alert-content {
        max-width: 100%;
    }
    .list-timeslot {
        grid-template-columns: repeat(2,1fr);
    }
    .categories-container {
        grid-template-columns: repeat(2, 1fr);
    }
}
.back-btn {
    display: flex !important;
    margin-right: .5rem;
    padding: 0;
    height: 100%;
    min-height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
}
.alert-custom {
    position: relative;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    align-items: center;
    padding: 0;
    min-height: 48px;
    background-color: #fefefe;
    font-weight: 600;
}
.alert-custom i {
    display: flex;
    min-height: 48px;
    justify-content: center;
    align-items: center;
    width: 40px;
    padding: 0;
    margin: 0;
    height: 100%;
    font-size: 1.5rem;
}
#payment-times.card > p{
    color: white;
    padding: 0;
    margin: 0;
    font-size: 0.8rem;
}	
.time-info{
    background-color: rgb(255,130,0);
    color: white;
    width: max-content;
    padding: 3px 2px 3px 2px;
    margin: 0;
    font-size: 14px;
    text-align: center;
    border-radius: 0.2rem;
    font-weight: bold;
}
#booking-times.card-footer,#payment-times.card-footer{
    background-color: rgb(255,130,0);
    width: 100%;
    padding: .75rem 0.9rem;
}
#booking-times.card-footer p,#payment-times.card-footer p{
    color: white;
    padding: 0;
    margin: 0;
    font-size: 0.8rem;
}	

.font-weight-bold {
    font-weight: 600 !important;
}

.card-title {
    font-size: 1.15rem !important;
    font-weight: 500;
}

.card-subtitle {
    font-size: 0.85rem !important;
}

.text-venue {
    font-size: 0.95rem !important;
}

.navbar .navbar-brand {
    font-weight: 600 !important;
}

.court-image-preview {
    position: relative;
}

.court-image-preview .preview-icon {
    position: absolute;
    top: 4px;
    right: 4px;
    transition: all 0.3s ease;
}

.title-dropdown {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .subtitle {
    font-size: clamp(8px, 2.5vw, 0.7rem);
}

@media (max-width: 576px) {
    .card-title {
        font-size: 0.95rem !important;
    }

    .card-subtitle {
        font-size: 0.75rem !important;
    }

    .text-venue {
        font-size: 0.875rem !important;
    }

    .navbar .navbar-brand {
        font-size: 1rem;
    }
}