ul.navbar-nav> button.navbar-toggler {
  position: fixed;
  padding: 0 0;
  top: 0;
  right: 0;
  font-size: 4.75rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.375rem;
  transition: box-shadow 0.15s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
